*{
    margin:0px;
    padding:0px;
    
}

.menu-container{
    color: white;
    background-color: rgb(55, 53, 53);
    padding: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.menu-container .logo img{
    width: 150px;
}

.menus{
    display:flex;

}

.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color:greenyellow;
}


/* main section style */

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(4, 4, 4),rgba(40, 40, 38, 0.989));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-text{
    color:white;
}
.banner-img img{
    width:300px;
}

.banner-title{
    font-size: 45px;
    font-weight: bold;
}

.banner-des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    color:white;
    background-color: red;
    padding: 10px 20px;
    border:none;
}

.btn:hover{
    background-color: rgb(199, 37, 205);

}


.about-img img{
    width:300px;
}

.about-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    
}

.about{
    display: flex;
    justify-content: space-around;
    padding: 30px;
  
    
    
    
}

.about-text{
    padding:-20px;
}

.about-text h4{
    font-size: 18px;
    padding-bottom: 15px;

}

.about-des{
    padding-bottom: 15px;
}

.service-container{
    background-color: black;
    padding: 50px;
}

.service-container h1{
    color:white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 35px;
}

.box-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    
}

.box{
    width:190px;
    height:280px;
    box-shadow: 6px 6px 75px rgb(240, 244, 240);
    background-color: rgb(12, 12, 12);
    text-align: center;
    padding:15px;
    border-radius: 20px;
}

.box img{
    width: 60px;
    height: 60px;
    padding:10px;
}

.box h3{
    color:white;
    padding-bottom: 10px;
}

.box p{
    width:180px;
    color:white;
    padding-bottom: 20px;
}

.box-btn{
    color:white;
    background-color: rgb(66, 64, 64);
    padding:6px 12px;
    border:none;
    border-radius: 4px;

}


 /* footer secction style */


 footer{
    background-color: rgb(7, 7, 7);
    border-top: 1px dashed rgb(62, 60, 60);
    border-bottom: 3px dotted rgb(72, 71, 71);
    
 }
  .footer-container{
    /* background-color: rgb(7, 7, 7); */
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 55px 60px 100px;
    /* border-top: 1px dashed gray;
    border-bottom: 3px dotted rgb(109, 107, 107);
     */
  }

  .footer-part{
    width: 200px;
    /* border: 1px dotted rgb(41, 40, 40); */
    padding: 10px;
    

  }

  .footer-part img{
    width: 150px;
    padding-bottom: 10px;
  }

  .footer-container p, .footer-container h4 {
    color:white;
    
    
  }

  .footer-container ul{
    color:white;
    list-style: none;

  }

  .footer-container h4{
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .last-des{
    color:white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
  }